@use "../../scss/breakpoint" as *;
.chat {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @include mobile {
      width: 48px;
      height: 48px;
    }
  }
  .content {
    width: 100%;
    .title {
      h3,
      p {
        display: inline;
      }
      p {
        margin-left: 10px;
        font-weight: 200;
      }
    }
    .message {
      overflow-wrap: break-word;
      max-width: 60%;
    }
  }
}
