@use "../../scss/variable"as *;


.search-input {
  input {
    border: 0;
    background-color: $white;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: $border-radius;
    color: $black;
    font-family: $font-family;
    box-shadow: 0 0 7px 7px #6b436b;

    &:focus,
    &:hover {
      box-shadow: 0 0 7px 10px #6b436b;
      transition: box-shadow 0.3s ease;
    }
  }
}