@use "../../scss" as *;

a {
  width: 100%;
}

.movie-card {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  img {
    width: 100%;
  }

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(58, 55, 55);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 101;
    //border-radius: $border-radius;
  }

  @media (hover: hover) {
    &:hover::before {
      opacity: 0.8;
    }

    &:hover .btn {
      z-index: 102;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .lazy-load-image-background {
    width: 100%;
  }
}

h3 {
  padding: 14px 0;
  font-size: 23px;
  color: $white;
  z-index: 100;

  @include mobile-small {
    font-size: 18px;
  }
}
