@use "../../scss/" as *;
.list-film {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 1.4rem;
  margin: 3vw auto 2vw auto;
  @include mobile {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
  li {
    max-width: 300px;
    display: block;
    .lazy-load-image-background {
      display: block !important;
      img {
        width: 100%;
      }
    }
  }
}
