@use "../../scss/" as *;

.banner {
  height: 70vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -99;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
}

.movie-content {
  @include flex(flex-start, flex-start);
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -520px;
  position: relative;
  padding: 0 2rem;

  @media (min-height: 900px) {
    & {
      margin-top: -500px;
    }
  }

  @media (max-height: 820px) {
    & {
      margin-top: -400px;
    }
  }

  @media (max-height: 630px) {
    & {
      margin-top: -300px;
    }
  }

  @media (max-height: 520px) {
    & {
      margin-top: -200px;
    }
  }
  @media (max-height: 385px) {
    & {
      margin-top: -100px;
    }

    &__poster {
      img {
        width: 85%;
      }
    }
  }

  @media (max-height: 250px) {
    & {
      margin-top: -60px;
    }
    &__poster {
      display: none;
    }
  }
  &__poster {
    flex: 1;

    @include mobile {
      display: none;
    }

    &__img {
      img {
        border-radius: $border-radius;
      }
    }
  }

  &__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;

    @include mobile {
      width: 100%;
      padding-left: 0;
    }

    & > * {
      margin-bottom: 2rem;
    }

    .title {
      font-size: 4rem;
      line-height: 1;
    }

    .genres {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 1rem;

      &__item {
        padding: 0.5rem 1.5rem;
        border: 2px solid $white;
        border-radius: $border-radius;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: $body-bg;
      }
    }
  }
}

.comments {
  h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.episode {
  .active {
    button {
      background-color: $white;
      color: $black;
    }
  }
}

.episodes {
  display: flex;
  justify-content: start;
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $body-bg;
  }

  &::-webkit-scrollbar {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    width: 15px;
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }

  a {
    width: min-content;
  }
}

.thumbnail {
  img {
    width: 30px;
    height: 30px;
  }
  &-icon {
    display: flex;
    align-items: center;
    gap: 2rem;
    & > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
