@use "../../scss/" as *;

.mv-container {
  @include mobile {
    width: 100%;
  }
}

.movie-search {
  position: relative;
  width: 100%;
  max-width: 500px;

  input {
    width: 100%;
    padding-right: 8rem;
  }

  button {
    position: absolute;
    right: 0;
    top: 2px;

    @include mobile {
      right: 1px;
      top: 1px;
    }
  }
}
