@use "../../scss/" as *;

.hero-slide {
  margin-bottom: 3rem;
}

.hero-slide__item {
  padding: 9rem 0;
  width: 100%;
  position: relative;

  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;

  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    .lazy-load-image-background {
      display: block !important;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
      }

      img {
        object-fit: cover;
        width: 100%;
      }

      @include mobile-small {
        height: 100%;

        img {
          height: 100%;
        }
      }
    }
  }

  &__content {
    @include flex(center, center);
    position: relative;

    &__info {
      width: 55%;
      padding: 0 3rem;
      position: relative;

      @include tablet {
        width: 100%;
      }

      & > * ~ * {
        margin-top: 3rem;
      }

      .title {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;

        @include tablet {
          font-size: 4rem;
        }
      }

      .overview {
        font-weight: 700;
      }

      .btns > * ~ * {
        margin-left: 1rem;
      }

      .btns,
      .title {
        opacity: 0;
        transform: translateY(-100px);
        transition: transform 0.5s ease, opacity 0.5s ease;
      }
    }

    &__poster {
      flex: 1;
      @include flex(center, flex-start);
      position: relative;

      img {
        width: 400px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        transform: scale(0);
        transition: transform 0.7s ease;
      }

      @include tablet {
        display: none;
      }
    }
  }

  &.active > &__content > &__content__poster {
    img {
      transform: scale(1);
    }
  }

  &.active > &__content > &__content__info {
    .btns,
    .title {
      opacity: 1;
      transform: translateY(0);
    }

    .title {
      transition-delay: 0.3s, 0.3s;
    }

    // .overview {
    //   transition-delay: 0.6s, 0.6s;
    // }

    .btns {
      transition-delay: 0.9s, 0.9s;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
}

.swiper-slide {
  //background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
